.toolTipContainer{
    background-color: #ffffff;
    color: #000000;
    border: 2px solid;
    border-radius: 4px;
    border-color: #00dea5;
    padding: 4px;
	font-Family: Montserrat !important;
    min-width: 100px;
    min-height: 50px;
    animation: slideIn 0.4s ease-out;
}
@keyframes slideIn {
    from {
        opacity: 0;
        transform: translate(10px, 10px);
    }
    to {
        opacity: 1;
        transform: translate(0, 0);
    }
}
.translatedOnRight {
	transform: translateX(-125px);
}

.translatedOnLeft {
	transform: translateX(125px);
}

.translatedDown {
    transform: translateX(-125px);
	transform: translateY(100px);
}