.toolTipContainer{
    background-color: #ffffff;
    color: #000000;
    border: 2px solid;
    border-radius: 4px;
    border-color: #00dea5;
    padding: 4px;
	font-Family: Montserrat !important;
    transform: translateX(0);
    transition: all 0.25s;
}

.translatedOnRight {
	transform: translateX(-125px);
}

.translatedOnLeft {
	transform: translateX(125px);
}

.translatedDown {
    transform: translateX(-125px);
	transform: translateY(100px);
}