.Login {
	padding: 60px 0;
	margin: 0 auto;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.button {
	width: 100%;
	padding: 10px;
	background: rgb(2, 82, 119);
	color: white;
	font-size: 110%;
	letter-spacing: 1px;
	border: none;
	border-radius: 5px;
}

.loginPage {
	display: flex;
	height: calc(100vh - 66px);
}

.loginPage .loginChild {
	flex: 1 1 65%;
}

.loginPage .loginChild:first-of-type {
	flex: 1 0 35%;
	min-width: 300px;
	background: #003b3c;
	color: #00dea5;
}

.loginWrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 6rem;
	width: 80%;
}

.fields {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	width: 100%;
}

.input {
	background: transparent;
	color: #00dea5;
	padding: 1rem;
	outline: none;
	border: 2px solid #00dea5;
	width: 100%;
	border-radius: 10rem;
	text-align: center;
	font-size: 1.2rem;
}

.input:focus, .input:active {
	background-color: transparent;
}

.input::placeholder {
	color: white;
	opacity: 0.75;
}

.hero {
	background-image: url("/src/exeter uni.png");
	background-position: center;
	background-size: cover;
	display: flex;
	align-items: center;
	position: relative;
}

.hero::after {
	content: ' ';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 65vw;
	height: 100%;
	background: linear-gradient(to right, #003b3c 0%, 70%, transparent);
}

.heroText {
	padding: 20px;
	color: white;
}

.heroText span {
	font-size: 200%;
}

.heroText p {
	margin-top: 20px;
	font-size: 150%;
}

.logo {
	width: 18rem;
	height: 18rem;
}

@media screen and (max-width: 780px) {
	.Login {
		max-width: 90%;
		display: block;
	}
	.loginWrapper {
		margin: 0 auto;
	}
	.hero {
		display: none;
	}
	.loginPage .loginChild {
		flex: 0 0 100%;
		height: calc(100vh - 73px);
	}
}


@media screen and (min-width: 1200px) {
	.Login {
		max-width: 600px;
	}
}
